@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Unbounded:wght@200..900&family=Vesper+Libre:wght@400;500;700;900&display=swap');
@import "node_modules/bootstrap/scss/bootstrap";
@import "./navbar.scss";
@import "./footer.scss";
@import "./banner.scss";
@import "./chart.scss";
@import "./createnewnetwork.scss";
@import "./createnewtoken.scss";
@import "./gems.scss";
@import "./rocks.scss";


html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "hmedium";
  src: url("../font/helveteca/HelveticaNowDisplay-Medium.ttf");
}
.shake {
  animation-name: spaceboots;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; /* Makes it loop infinitely */
  transform-origin: 50% 50%;

  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite; /* Makes it loop infinitely */
  -webkit-transform-origin: 50% 50%;
  background-color: #e59572 !important;
    td{
      background-color: #e59572 !important;
    }
  
}


@keyframes spaceboots {
0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
body {
  background-color: #EEEAE3;
  font-family: "Unbounded", serif ;
  font-optical-sizing: auto;
  font-style: normal;
  position: relative;
  min-height: 100vh;
}

*{
  --wcm-z-index:99999999;
}

.row {
  margin: 0;
  padding: 0;
}

.p-0 {
  padding: 0px;
}

.p0 {
  padding: 0px;
}

// All transitions
div,
ul,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button {
  -webkit-transition: background-color 0.7s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

textarea {
  resize: none;
  height: 60px;
  width: 100%;
}

a {
  text-decoration: none !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0;
}


.grey {
  color: #888 !important;
}



.ptb20 {
  padding: 20px 0;
}




.ptb60 {
  padding: 60px 0;
}






.cursor-pointer {
  cursor: pointer;
}

.purple {
  color: #6c01c3;
}
.yellow {
  color: #ffc13d;
}
.border-img {
  border-radius: 10px;
}

.common {
  color: #ff0083;
}

.green {
  color: #6dff39;
}

.red {
  color: #f41e5e;
}
.white {
  color: #fff !important;
}

.blue {
  color: #133572;
}

.navbar-toggle {
  background-color: #333;

  .icon-bar {
    background-color: #eee;
  }
}


@media only screen and (max-width: 600px) {
  // .navbar-toggler {
  //   padding: 0.25rem 0.75rem;
  //   font-size: 1.25rem;
  //   line-height: 1;
  //   background-color: transparent;
  //   border: 1px solid transparent;
  //   border-radius: 0.25rem;
  //   outline: none;

  //   &:focus {
  //     outline: none;
  //   }
  // }

  // .main-footer {
  //   text-align: center;

  //   .text-right {
  //     text-align: center !important;
  //   }
  // }

  // h1 {
  //   font-size: 2.5rem !important;
  // }

  // .ptb {
  //   padding: 30px 0;
  // }

  // .xs-0 {
  //   padding: 0px;
  // }

  // .main-mint,
  // .main-banner {
  //   .inner-content {
  //     .modal-content {
  //       .for-padding {
  //         padding: 0 0px !important;
  //       }
  //     }
  //   }
  // }

  // .main-give {
  //   .right-side {
  //     margin-top: 30px !important;
  //     h5 {
  //       font-weight: 500;
  //     }
  //     li {
  //       margin-right: 2px !important;
  //     }
  //   }
  // }
}

.custom-container{
  max-width: 1330px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
// 12 pro
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {

  // h1 {
  //   font-size: 3rem !important;
  // }

  // .ptb {
  //   padding: 20px 0;
  // }
}



// iframe {
//   position: unset !important;
//   top: 0px !important;
//   left: 0px !important;
//   width: 0px !important;
//   height: 0px !important;
// }

.tradingview-widget-container{
  height: 48vh !important;
}

button {
  cursor: pointer;
}

// @media (max-width: 600px) {
//   h2 {
//     font-size: 30px !important;
//   }
//   .col-md-6{
//     padding-left: 0px !important;
//     padding-right: 0px !important;
//   }
//   .col-md-8 {
//     padding-left: 0px !important;
//     padding-right: 0px !important;
//   }
//   .col-md-4{
//     padding-left: 0px !important;
//     padding-right: 0px !important;
//   }
// }
button:focus {
  outline: none !important;
}
input:focus {
  outline: none !important;
}

.form-control:focus {
  box-shadow: unset;
}


@media(max-width:600px){
  .modal.show .modal-dialog{
    max-width: 100% !important;
    margin: 20px;
  }
}

button{
  cursor: pointer;
}
a{
  cursor: pointer;
}

button, input, optgroup, select, textarea:focus-visible{
  outline: none !important;

}
button, input, optgroup, select, textarea:focus{
  outline: none !important;
  
}
button.close{
  opacity: 1;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.jragJh{
  display: none !important;
}