.main_banner {
    position: relative;
    background-image: url("../../public/bgimgs/bannerbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 75px;

    .banner_bg_Div {

        h2 {
            color: var(--Primary-Green, #329879);
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            /* 44.8px */
            padding-bottom: 10px;
        }

        h1 {
            color: #FFF3E2;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            /* 48px */
        }

        h3 {
            color: #FFF3E2;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            /* 48px */
        }

        p {
            color: #FFF3E2;
            max-width: 471px;
            padding-top: 20px;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 130%;
            /* 18.2px */
        }

        button {
            color: #311E1A;
            margin-top: 60px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            /* 14px */
            padding: 18px 22px;
            border-radius: 10px;
            background: #F4D6AE;
            border: unset;
        }

        button:hover {
            background: #F5CA91;

        }

        .inner_bannner {
            display: flex;
            align-items: center;
            gap: 58px;
            padding-bottom: 66px;
            margin-top: 41px;

            p {
                color: var(--Secondary-Text-Color, #77868B);
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                /* 22px */

            }

            h4 {
                color: #02171D;
                padding-top: 26px;
                font-size: 47.1px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                /* 47.1px */
            }
        }

    }


}

.no_data_found {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 22px;
    margin-top: 60px;
    margin-bottom: 85px;

    p {
        color: #A29998;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 16px */
    }
}

.table_empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 22px;
    height: 588px;
    position: relative;


    p {
        color: #A29998;
        font-size: 16px;
        padding: 0px !important;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 16px */
    }
}

.leftside {
    position: sticky;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    position: sticky;
    left: 0;
    z-index: var(--chakra-zIndices-sticky);
    display: flex;
    align-items: center;
    display: flex;
}

.another_banner {
    .top_side_barr {
        display: flex;
        align-items: center;
        gap: 15px;

        .outer_deserrrt {
            position: relative;
            border-radius: 20px;
            background: #FDFDFC;
            height: 100%;
            overflow: hidden;
            width: 100%;

            .img_rocks_side {
                position: absolute;
                /* Position the image inside the parent div */
                right: 0;
                /* Align the image to the right */
                top: 0;
                /* Align the image to the top */
                height: 100%;
                /* or any specific height */
                width: auto;

            }

            .img_rocks_side1 {
                position: absolute;
                right: 0px;
                height: 100%;

            }

        }

        .king_desert {
            padding: 25px;
            overflow: hidden;



            h1 {
                color: #311E1A;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                /* 16px */
                padding-bottom: 25px;
                text-transform: uppercase;
            }

            .inner__Desert {
                display: flex;
                align-items: center;
                gap: 10px;
                padding-bottom: 25px;

                img {
                    width: 48px;
                    height: 48px;
                    border-radius: 26px;
                }

                h2 {
                    color: #311E1A;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    padding-bottom: 12px;
                    line-height: 100%;
                    /* 20px */
                    letter-spacing: 0.4px;
                }

                p {
                    color: #A29998;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 100%;
                    /* 14px */
                    letter-spacing: 0.28px;
                    text-transform: uppercase;
                }
            }

            h3 {
                color: #311E1A;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                /* 16.8px */
                padding-bottom: 15px;
                margin-top: 32px;
                padding-bottom: 15px;
            }

            h4 {
                color: #16A853;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                /* 14.4px */
            }
        }
    }

    .new_chart {
        gap: 60px !important;
    }

    .bottom_banner {
        padding: 40px 0;
        background: #EEEAE3;
        min-height: 90vh;

        .main_top_cards {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            width: 100%;

            .left_side_cards {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100%;
            }

            .top_cards {
                padding: 25px;
                border-radius: 20px;
                background: #FDFDFC;
                width: 100%;

                p {
                    color: #A29998;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 100%;
                    /* 14px */
                }

                h1 {
                    color: #311E1A;
                    font-size: 30px;
                    padding-top: 15px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 100%;
                    /* 30px */
                }
            }
        }

        .Top_charts {
            display: flex;
            align-items: center;
            gap: 15px;
            width: 100%;
            margin-top: 15px;

            .trendingchart {
                padding: 22px 22px 15px 22px;
                border-radius: 20px;
                background: #FDFDFC;
                width: 100%;
                height: 313px;

                h1 {
                    color: #311E1A;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    line-height: 100%;
                    /* 16px */
                    padding-bottom: 10px;
                    text-transform: uppercase;
                }

                .inner_chart {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    padding: 12px 0px;
                    border-bottom: 1px solid #E4E4E4;

                    &:last-child {
                        border-bottom: unset;
                    }

                    .chart_bottoms {
                        display: flex;
                        align-items: center;

                        .greentext {
                            color: #16A853;
                            display: none;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 120%;
                            /* 12px */
                        }

                        h2 {
                            color: #A29998;
                            width: 25px;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            /* 16.8px */
                        }

                        h5 {
                            color: #311E1A;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 120%;
                            /* 14.4px */
                        }
                    }
                }

                .circle_img {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                h3 {
                    color: #311E1A;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    /* 14px */
                    letter-spacing: 0.28px;
                }

                h4 {
                    color: #A29998;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 100%;
                    /* 10px */
                    padding-top: 2px;
                    letter-spacing: 0.2px;
                    text-transform: uppercase;
                }
            }
        }

    }

    .top_tabs {
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--Stroke, #C0CBCF);

        .tabbbs_data {
            border-bottom: 1px solid var(--Stroke, #C0CBCF);
            width: 100%;
            padding: 20px 60px 0px 60px;

        }

        .nav-pills {
            gap: 40px;
        }

        .nav-pills .nav-link {
            color: var(--Secondary-Text-Color, #77868B);
            padding: 0px;

            align-items: flex-start;
            font-size: 16px;
            text-align: start;
            border-bottom: 2px solid transparent;
            font-style: normal;
            font-weight: 400;
            padding-bottom: 20px;
            border-radius: unset;
            line-height: 100%;
            /* 16px */
        }

        .nav-pills .nav-link.active {
            color: var(--Primary-Green, #329879);
            font-size: 16px;
            font-style: normal;
            background-color: unset;
            font-weight: 500;
            border-bottom: 2px solid var(--Primary-Green, #329879);
            line-height: 100%;
            /* 16px */
        }
    }

    .tabs__lower {
        width: 100%;


    }

    .tabone_Data {
        padding: 15px 0px 0px 0px;
        position: relative;

        .table-responsive {
            border-radius: 20px 20px 0px 0px;

        }

        .table {
            margin-bottom: 0px;
            background: #FDFDFC;
        }

        th {
            padding: 14px 20px;
            border: unset;
            border-bottom: unset;

            background: #FDFDFC;

        }

        td {
            padding: 10px 20px;
            border: unset;
            text-align: center;
            vertical-align: middle;

            background: #FDFDFC;
        }

        tr {
            border: unset;
            border-bottom: 1px solid #E4E4E4;

            // &:last-child {
            //     border-bottom: unset;
            // }
        }

        .thdata {
            display: flex;
            align-items: center;
            gap: 8px;
            justify-content: center;

            p {
                color: #A29998;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                /* 14.4px */
                white-space: nowrap;
                letter-spacing: 0.24px;
            }
        }

        .inner_td {
            display: flex;
            align-items: center;
            gap: 10px;

            .align-headings {
                display: flex;
                flex-direction: column;
                align-items: start;
            }

            h1 {
                color: var(--Background-Color, #02171D);

                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                /* 14px */
                letter-spacing: 0.28px;
            }

            h2 {
                color: var(--Secondary-Text-Color, #939FA3);
                text-align: start;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                /* 10px */
                letter-spacing: 0.2px;
                text-transform: uppercase;
                padding-top: 5px;
            }
        }

        h3 {
            color: var(--Primary-Text-Color, #02171D);
            white-space: nowrap;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%;
            /* 13.2px */
            letter-spacing: 0.24px;
        }

        h4 {
            color: #16A853;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%;
            /* 13.2px */
            letter-spacing: 0.24px;
        }

        h5 {
            color: #FF3235;

            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%;
            /* 13.2px */
            letter-spacing: 0.24px;
        }

        .pagination_mains {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 17px 22px;
            border-radius: 0px 0px 20px 20px;

            background: #FDFDFC;

            h6 {
                color: #A29998;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 110%;
                /* 13.2px */
                letter-spacing: 0.1px;
            }

            .innner_pagi {
                display: flex;
                align-items: center;
                gap: 20px;
            }

            .page-link {
                color: #A29998;
                font-size: 15px;
                padding: 0px;
                font-style: normal;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 400;
                line-height: 100%;
                /* 15px */
                border-radius: 5px;
                background-color: unset;
                border: unset;
                box-shadow: unset;
                width: 30px;
                height: 27px;
                text-align: center;

            }

            .page-link:hover {
                color: #FDFDFC;
                background: #311E1A;
                box-shadow: unset;
                // border: unset;
            }

            .page-item.active .page-link {
                color: #FDFDFC;
                background: #311E1A;
            }
        }
    }

    .tab_second {
        .inner_creator {
            display: flex;
            align-items: center;
            gap: 10px;
            ;
        }

        .pagination_mains {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 60px;

            border-radius: 0px;
            background: var(--Background-Color, #E2E9EC);

            h6 {
                color: var(--V6-Dark-Theme-Secondary-Text-Color, #4F5C61);

                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 110%;
                /* 13.2px */
                letter-spacing: 0.1px;
            }

            .innner_pagi {
                display: flex;
                align-items: center;
                gap: 20px;
            }

            .page-link {
                color: var(--Secondary-Text-Color, #77868B);

                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                /* 15px */
                border-radius: 5px;
                background-color: unset;
                border: unset;
                box-shadow: unset;

            }

            .page-link:hover {
                color: #2BF7C4;

                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                /* 15px */
                border-radius: 5px;
                background: #0A2931;
            }

            .page-item.active .page-link {
                color: #2BF7C4;

                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                /* 15px */
                border-radius: 5px;
                background: #0A2931;
                box-shadow: unset;
                border: unset;
            }
        }

        .card_one {
            padding: 25px 60px;

        }

        .cards_mains {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid var(--Stroke, #C0CBCF);
        }

        .top_side {
            display: flex;
            align-items: center;
            gap: 15px;

            h1 {
                color: var(--Primary-Text-Color, #02171D);

                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                /* 24px */
            }

            h2 {
                color: var(--Secondary-Text-Color, #77868B);

                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                /* 14.4px */
                padding-top: 5px;
                padding-bottom: 5px;
            }

            h3 {
                color: var(--Primary-Text-Color, #02171D);

                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                /* 14.4px */
            }
        }

        p {
            color: var(--Secondary-Text-Color, #77868B);

            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 120%;
            /* 16.8px */
            padding-top: 15px;
            padding-bottom: 20px;
        }

        .bottom_side {
            border-top: 1px solid var(--Stroke, #C0CBCF);
            border-bottom: 1px solid var(--Stroke, #C0CBCF);
            display: flex;
            padding: 18px 0px;
            align-items: center;
            justify-content: space-between;

            h4 {
                color: var(--Secondary-Text-Color, #77868B);

                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                /* 14.4px */
            }

            h5 {
                color: var(--Primary-Text-Color, #02171D);

                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                /* 16.8px */
                padding-top: 10px;
            }
        }
    }
}

.img_penguaan {
    width: 26px;
    height: 26px;
    border-radius: 26px;
    object-fit: cover;

}

.powerd_by_tag {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #FFF3E2;
    font-family: hmedium;
    font-size: 16px;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 100%;

    /* 16px */
    a {
        color: unset !important;
    }
}

.powerd_by_tag1 {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #FFF3E2;
    font-family: hmedium;
    font-size: 16px;
    margin-top: 20px;
    font-style: normal;

    line-height: 100%;
    /* 16px */

}

.chartapex {
    height: 26px;
    width: 70px;
}

.imgtabbble {
    width: 28px;
    height: 28px;
    border-radius: 28px;

}

@media(max-width:991px) {
    .another_banner .bottom_banner .Top_charts .trendingchart h3 {
        color: #311E1A;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0.28px;
    }

    .tokkenmain {
        margin-top: 40px !important;
    }

    .another_banner .bottom_banner .Top_charts .trendingchart .inner_chart .chart_bottoms h2 {
        color: #A29998;
        width: 25px;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    .another_banner .tabone_Data .inner_td h1 {
        color: var(--Background-Color, #02171D);
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0.28px;
    }

    .another_banner .tabone_Data h3 {
        color: var(--Primary-Text-Color, #02171D);
        white-space: nowrap;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 0.24px;
    }

    .another_banner .tabone_Data .thdata p {
        color: #A29998;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        white-space: nowrap;
        letter-spacing: 0.24px;
    }

    .another_banner .tabone_Data td {
        padding: 9px 15px;
        border: unset;
        text-align: center;
        vertical-align: middle;
        background: #FDFDFC;
    }

    .lunchtokken {
        display: block !important;
        color: #311E1A;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 14px */
        display: flex;
        padding: 18px 22px;
        // margin-top: 50px !important;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: #E59572 !important;
        border: unset;
    }

    .main_banner .banner_bg_Div button {
        margin-top: 10px !important;
    }

    .bannner_ptag {
        display: none !important;
    }

    .another_banner .bottom_banner .Top_charts .trendingchart {
        padding: 15px 15px 15px 15px;
        border-radius: 20px;
        background: #FDFDFC;
        width: 100%;
        height: 291px;
    }

    .another_banner .top_side_barr .king_desert h1 {
        font-size: 12px !important;
        padding-bottom: 16px !important;
    }

    .another_banner .top_side_barr .king_desert .inner__Desert {

        padding-bottom: 16px !important;
    }

    .another_banner .top_side_barr .king_desert .inner__Desert h2 {
        font-size: 14px !important;
    }

    .another_banner .top_side_barr .king_desert .inner__Desert p {
        font-size: 10px !important;
    }

    .another_banner .top_side_barr .king_desert h3 {
        font-size: 12px !important;
    }

    .another_banner .top_side_barr .king_desert h4 {
        font-size: 12px !important;
    }

    .img_rocks_side {
        display: none;
    }

    .img_rocks_side1 {
        display: block !important;
    }

    .another_banner .top_side_barr {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-direction: column !important;
    }

    .another_banner .new_chart {
        gap: 4px !important;
        align-items: end !important;
        justify-content: end !important;
        text-align: end;
    }

    .marketcap {
        display: none !important;
    }

    .mcap {
        display: block !important;
    }

    .innner_textbanner {
        position: unset !important;
    }

    .another_banner .bottom_banner .main_top_cards {
        flex-direction: column;
    }

    .another_banner .bottom_banner .Top_charts {
        flex-direction: column;
    }

    .another_banner .tabone_Data .pagination_mains {
        flex-direction: column;
        gap: 0px;
    }

    .another_banner .banner_bg_Div p {
        width: 100%;
    }

    .main_banner {
        background-image: url("../../public/bgimgs/phonebannerbg.png") !important;
        padding-top: 122px;
        height: 449px;
        align-items: flex-start;
    }

    .main_banner .banner_bg_Div h1 {
        padding-top: 0px;
        font-size: 24px;
    }

    .main_banner .banner_bg_Div h3 {
        font-size: 24px;

    }

    .another_banner .bottom_banner {
        padding: 20px 5px 40px 5px;

    }

    .main_banner .banner_bg_Div button {
        width: 100%;
    }

    .another_banner .bottom_banner .main_top_cards .top_cards p {
        font-size: 12px;
        white-space: nowrap;

    }

    .another_banner .bottom_banner .main_top_cards .top_cards h1 {
        font-size: 18px;
    }

    .another_banner .bottom_banner .Top_charts .trendingchart h1 {
        font-size: 14px;
    }

    .greentext {
        display: block !important;
        padding: 0px !important;
        /* 12px */
    }

    .new_chart {
        flex-direction: column;
        gap: 0px !important;
    }

    .chartapex {
        display: none;
    }

    .redtext {
        color: #FF3235 !important;
        display: block !important;
        font-size: 10px !important;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        /* 12px */
    }

    .another_banner .tabone_Data .pagination_mains h6 {
        font-size: 12px;
        display: none;
    }

    .another_banner .tabone_Data .pagination_mains .page-item.active .page-link {
        padding: 6px 9px;
        font-size: 12px;
    }

    .another_banner .tabone_Data .pagination_mains .page-link {
        padding: 6px 9px;
        font-size: 12px;
    }
}

.imgsmallest {
    width: 14px;
    height: 14px;
    border-radius: 24px;
}