.Main_chart {
    padding: 40px 0px;
    padding-top: 120px;

    input[type=number]:focus {
pointer-events: none;
    }
    .new_text_inside {
        display: flex;
        padding: 12px;
        margin-top: 25px;
        margin-bottom: 25px;
        align-items: start;
        justify-content: space-between;
        border-radius: 8px;
        border: 1px solid #F1F0EF;
        background: #FDFDFC;

        p {
            color: #A29998;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 100%;
            /* 12px */
        }

        h1 {
            color: #311E1A;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            /* 14.4px */
            display: flex;
            align-items: center;
            gap: 6px;
        }

    }

    .desertprogress {
        margin-bottom: 8px !important;
    }

    .youget_text {
        color: #A29998;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        align-items: center;
        padding-bottom: 14px;
        border-top: 1px solid #F0F2F2;
        justify-content: space-between;
        padding-top: 18px;
    }

    .dashes {
        color: #311E1A;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    text.apexcharts-title-text {
        display: none;
    }

    .apexcharts-toolbar {
        display: none;
    }

    .drop_phonee {
        .dropdown-menu.show {
            padding: 0px;
            overflow: hidden;
            border-radius: 12px;
            border: 1px solid #E0D7D5;
            background: #FDFDFC;
        }

        .dropdown-item {
            padding: 14px 12px;
            border-bottom: 1px solid #E0D7D5;
            background: #FDFDFC;
            color: #311E1A;

            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 100%;

            /* 12px */
            &:last-child {
                border-bottom: unset;
            }
        }

        button#dropdown-basic {
            background-color: unset;
            border: unset;
            padding: unset;
            box-shadow: unset;
            border: unset;
        }

        .dropdown-toggle::after {
            display: none;
        }
    }

    .new_area {
        padding-top: 20px;
    }

    .thumbbb {
        cursor: pointer;
    }

    .top_sidebarr {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .del_edit {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
        }
    }

    .imageman {
        width: 42px;
        height: 42px;
        object-fit: cover;
        border-radius: 24px;
    }

    .imageman1 {
        width: 31px;
        object-fit: cover;
        height: 31px;
        border-radius: 24px;
    }

    .spinner {
        width: 16px;
        height: 16px;
    }


    .kevaiii {
        padding-top: 10px;
        text-transform: uppercase;
    }

    .chartphone {
        display: none;
    }

    .sharebutton {
        cursor: pointer;
    }

    .websiteslogo {
        transition: filter 0.3s ease;
        /* Smooth transition effect */
        cursor: pointer;
    }

    .websiteslogo:hover {
        filter: brightness(0) saturate(100%) invert(59%) sepia(43%) saturate(500%) hue-rotate(-15deg) brightness(90%) contrast(85%);
    }

    .new_links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 22px;
        border-bottom: 1px solid #E0D7D5;
    }

    .swap__button {
        display: flex;
        align-items: center;
        margin: 0px !important;
        gap: 4px;
        border: unset;
        background-color: unset !important;
        padding: 0px !important;
        color: #311E1A;
        font-size: 12px;
        font-style: normal;
        white-space: nowrap;
        font-weight: 400;
        line-height: normal;
    }

    .replyy_div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        p {
            color: #A29998;
            font-size: 8px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            /* 8px */
        }

        h4 {
            color: #E59572;
            display: flex;
            padding: 6px;
            align-items: center;
            gap: 6px;
            border-radius: 4px;
            border: 1px solid #F4F3F2;
            background: #FDFDFC;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            /* 12px */
        }
    }

    .tabbss_div2 {
        display: flex;

        justify-content: center;
        flex-wrap: nowrap;
        overflow-y: scroll;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .sellbuy_tab2 {
        flex-direction: column !important;
    }

    .tabbss_div2 {
        border-bottom: 1px solid #E0D7D5;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    .trade_charttabs {
        .tabbbs_data {
            width: 100%;
        }

        .nav-pills .nav-link {
            color: #A29998;
            font-size: 14px;
            width: 91px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .nav-pills .nav-link.active {
            color: #E59572;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            // border-bottom: 1px solid #E59572;
            background-color: unset;
            border-radius: 0px;
        }
    }

    .top_chart {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 15px;
        width: 100%;

        .left_side {
            width: 100%;

            .bottom_left {
                padding: 25px;
                border-radius: 20px;
                background: #FDFDFC;
                backdrop-filter: blur(2px);
                margin-top: 15px;
                width: 100%;

                .lasttdiv {
                    color: #7A6966;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 130%;
                    /* 15.6px */
                    padding: 15px;
                    border-radius: 10px;
                    background: #FBF5F1;
                    margin-top: 7px;
                }

                h5 {
                    color: #7A6966;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 130%;
                    /* 15.6px */
                    padding: 15px;
                    border-radius: 10px;
                    background: #F8F7F5;
                    margin-top: 7px;
                    margin-bottom: 20px;
                }

                .bottom_area {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .smallimg_div {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        padding: 8px;
                        border-radius: 8px;
                        background: #F5F3EF;

                        img {
                            width: 24px;
                            height: 24px;
                            border-radius: 24px;
                        }

                        h6 {
                            color: #E59572;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 100%;
                            /* 10px */

                        }

                        h3 {
                            color: #311E1A;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 100%;
                            /* 10px */
                        }




                    }

                    h4 {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        gap: 6px;
                        padding: 6px;
                        border-radius: 4px;
                        border: 1px solid #F4F3F2;
                        background: #FDFDFC;
                        color: #E59572;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%;
                        /* 12px */
                    }

                    p {
                        color: #A29998;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%;
                        /* 10px */
                    }
                }

                h1 {
                    color: #311E1A;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    /* 16.8px */
                    padding-bottom: 15px;
                }

                textarea {
                    height: 84px;
                    padding: 18px;
                    border-radius: 13px;
                    background: #F5F3EF;
                    border: unset;
                    color: #000;
                    font-feature-settings: 'dlig' on, 'salt' on;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    /* 12px */
                }

                ::placeholder {
                    color: #A29998;
                    font-feature-settings: 'dlig' on, 'salt' on;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    /* 12px */
                }

                .textarea_div {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    justify-content: end;
                    margin-top: 3px;

                    p {
                        color: #A29998;
                        text-align: center;
                        font-feature-settings: 'dlig' on, 'salt' on;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%;
                        /* 12px */
                    }

                    button {
                        color: #311E1A;
                        font-size: 12px;
                        border: unset;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%;
                        /* 12px */
                        padding: 15px 40px;
                        border-radius: 10px;
                        background: #F4D6AE;
                    }

                    button:hover {
                        background: #F5CA91;

                    }
                }
            }

            .midddle_left {
                padding: 25px;
                border-radius: 20px;
                background: #FDFDFC;
                backdrop-filter: blur(2px);
                margin-top: 15px;

                h1 {
                    color: #311E1A;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    /* 16.8px */
                }

                .imgdiv {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding-top: 12px;
                    padding-bottom: 22px;

                }

                p {
                    color: #7A6966;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 120%;
                    /* 14.4px */
                    padding-top: 12px;
                    padding-bottom: 12px;
                    display: -webkit-box;
                    /* Enables the flexbox container */
                    -webkit-line-clamp: 3;
                    /* Limits the content to 4 lines */
                    -webkit-box-orient: vertical;
                    /* Sets the box to vertical mode */
                    overflow: hidden;
                    /* Hides the overflow content */
                    text-overflow: ellipsis;
                }

                h2 {
                    color: #311E1A;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    /* 16.8px */
                }

                h3 {
                    color: #E59572;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 100%;
                    padding-top: 12px;
                    /* 12px */
                }
            }

            .chart_topside {
                padding: 22px 20px;
                border-radius: 10px;
                background: #F5F3EF;

                display: flex;
                align-items: center;
                justify-content: space-between;

                .man_Div {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                .outer_text {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                .line_div {
                    width: 1px;
                    height: 32px;
                    background: #E0D7D5;
                }

                h1 {
                    color: #311E1A;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    /* 16.8px */
                }



                .small_imgdiv {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                }

                p {
                    color: #A29998;
                    font-size: 12px;
                    font-style: normal;
                    white-space: nowrap;
                    font-weight: 400;
                    line-height: 120%;
                    /* 14.4px */
                }
            }

            .outer_side {
                padding: 25px;
                border-radius: 20px;
                background: #FDFDFC;
                backdrop-filter: blur(2px);
                width: 100%;
                position: relative;

                .top_trade {

                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    // gap: 10px;
                    margin-top: 15px;
                    margin-bottom: 15px;

                    .innnner_tradee {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                    }

                    .outer_text {
                        display: flex;
                        padding: 12px;
                        align-items: center;
                        gap: 8px;
                        border-radius: 8px;
                        border: 1px solid #F1F0EF;
                        background: #FDFDFC;

                        p {
                            color: #A29998;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 100%;
                            /* 12px */
                        }

                        h1 {
                            color: #311E1A;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            /* 14.4px */
                            display: flex;
                            align-items: center;
                            gap: 6px;
                        }
                    }

                    .trade_div {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                        padding: 12px;
                        border-radius: 8px;
                        border: 1px solid #F1F0EF;
                        background: #FDFDFC;

                        h2 {
                            color: #A29998;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 100%;
                            /* 12px */
                        }

                        h3 {
                            color: #329879;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 100%;
                            /* 14px */
                            display: flex;
                            align-items: end;
                            gap: 4px;
                        }
                    }
                }

                .charrrtimg {
                    width: 100%;
                    max-width: 100%;
                    margin-top: 25px;
                }

                .chartphone {
                    width: 100%;
                    max-width: 100%;
                    margin-top: 25px;
                }
            }
        }


        .right_side {
            .inputamount {
                border: unset;
                background-color: unset;
                padding: unset;
                width: 100%;
                color: #02171D;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                /* 16.8px */

            }

            ::placeholder {
                color: #02171D;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                /* 16.8px */
            }

            .tabs__lower {
                width: 100%;

                .tab_buy {
                    width: 100%;

                    h6 {
                        color: #A29998;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }

                    button {
                        color: #311E1A;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%;
                        /* 12px */
                        display: flex;
                        height: 42px;
                        justify-content: center;
                        align-items: center;
                        gap: 6.851px;
                        align-self: stretch;
                        border-radius: 10px;
                        width: 100%;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        background: #F4D6AE;
                        border: unset;

                        &.disabled {
                            opacity: 0.5;
                            pointer-events: none;
                        }
                    }

                    button:hover {
                        background: #F5CA91;

                    }

                    .powerdby {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        justify-content: center;

                        h2 {
                            color: #A29998;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 100%;
                            /* 10px */
                        }

                        h4 {
                            color: var(--Primary-Green, #329879);
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 100%;
                            /* 12px */
                            display: flex;
                            align-items: center;
                            gap: 4px;
                        }
                    }

                    .balance_div {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-top: 20px;
                        padding-bottom: 8px;

                        p {
                            color: #A29998;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        h1 {
                            color: #311E1A;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }

                    .gemsdiv {
                        padding: 12px;
                        border-radius: 10px;
                        border: 1px solid #F0F2F2;
                        background: #FFF;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        ::-webkit-scrollbar {
                            display: none !important;
                        }

                        h2 {
                            color: #A29998;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 120%;
                            /* 12px */
                        }

                        h3 {
                            color: #02171D;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            /* 16.8px */
                            padding-top: 4px;
                        }

                        h4 {
                            color: #311E1A;
                            text-transform: uppercase;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            display: flex;
                            align-items: center;
                            gap: 4px;
                        }
                    }

                    .gems_inner {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 12px;
                        margin-bottom: 18px;

                        h5 {
                            padding: 8px 20px;
                            color: #311E1A;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 100%;
                            /* 10px */
                            border-radius: 7px;
                            background: #F5F3EF;
                            display: flex;
                            align-items: center;
                            gap: 4px;
                            cursor: pointer;
                        }
                    }
                }
            }

            .tabs_div {
                padding: 25px;
                border-radius: 15px;
                background: #FDFDFC;
                width: 100%;

                .tabbss_div {
                    width: 100%;
                    padding: 4px;
                    border-radius: 10px;
                    background: #F5F3EF;
                }

                .tabbbs_data {
                    width: 100%;
                }

                .sellbuy_tab {
                    flex-direction: column;
                    width: 100%;
                }

                .nav-pills .nav-link {
                    padding: 12px 20px;
                    border-radius: 10px;
                    color: #FF3235;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    /* 12px */
                    width: 50%;
                }

                .nav-pills .nav-link.active {
                    background: #16A853;
                    color: #FFF;
                    border: unset;


                }
            }

            .inner_right {
                padding: 25px;
                border-radius: 15px;
                background: #FDFDFC;
                margin-top: 15px;

                .progress {
                    border-radius: 40px;
                    background: #F7E9E3;
                    height: 8px;
                    margin-top: 10px;
                    margin-bottom: 25px;

                }

                .progress-bar {
                    border-radius: 30px;
                    background: #E59572;

                }

                h1 {
                    color: #311E1A;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 18.2px */
                    letter-spacing: 0.28px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                span {
                    color: #E59572;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 18.2px */
                    letter-spacing: 0.28px;
                }

                .dashesnew {
                    color: #311E1A !important;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                h2 {
                    color: #311E1A;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 140%;
                    /* 16.8px */
                }

                p {
                    color: #A29998;
                    font-size: 12px;
                    font-style: normal;
                    padding-top: 8px;
                    font-weight: 300;
                    line-height: 140%;
                    /* 16.8px */
                }
            }

            .holders_div {
                padding: 25px;
                border-radius: 15px;
                background: #FDFDFC;
                margin-top: 15px;

                .holder_bottom {
                    display: flex;
                    align-items: center;

                    padding-bottom: 10px;

                    h3 {
                        color: #A29998;
                        font-size: 12px;
                        width: 25px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%;
                        /* 16.8px */
                    }

                    h4 {
                        color: #311E1A;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 140%;
                        width: 100%;

                        /* 16.8px */
                    }

                    span {
                        color: #311E1A;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%;
                        /* 16.8px */
                    }
                }

                .topholders {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 25px;

                    h1 {
                        color: #311E1A;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 18.2px */
                        letter-spacing: 0.28px;
                    }

                    p {
                        color: #E59572;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 18.2px */
                        letter-spacing: 0.28px;
                    }

                    span {
                        color: #A29998;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        letter-spacing: 0.28px;
                    }


                }
            }

            .swap_side {
                padding: 25px;
                border-radius: 15px;
                background: #FDFDFC;
                position: relative;
                margin-top: 15px;

                .swap_lower {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;

                    h6 {
                        color: #A29998;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%;
                        /* 10px */
                    }

                    h4 {
                        color: var(--Primary-Green, #329879);
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 100%;
                        /* 12px */
                    }
                }

                button {
                    display: flex;
                    height: 42px;
                    justify-content: center;
                    align-items: center;
                    gap: 6.851px;
                    align-self: stretch;
                    border: unset;
                    border-radius: 10px;
                    background: #F4D6AE;
                    width: 100%;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    color: #311E1A;

                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    /* 12px */
                }

                button:hover {
                    background: #F5CA91;

                }

                .arrrowimgss {
                    position: absolute;
                    top: 42%;
                    /* Move 50% down the container */
                    left: 50%;
                    /* Move 50% right the container */
                    transform: translate(-50%, -50%);
                    /* Offset by half the element's size */
                }

                .swap_textt {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    h5 {
                        color: #311E1A;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }

                .dropdown_swap {
                    .dropdown-menu.show {
                        padding: 0px;
                        border-radius: 12px;
                        border: 1px solid #E0D7D5;
                        background: #FDFDFC;
                        overflow: hidden;
                        transform: translate3d(-75px, 37px, 0px) !important;
                    }

                    button#dropdown-basic {
                        background-color: unset;
                        border: unset;
                        margin: 0px;
                        padding: 0px;
                        box-shadow: unset;
                        color: #311E1A;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                    }

                    .dropdown-item {
                        padding: 12px;
                        border-bottom: 1px solid #E0D7D5;
                        background: #FDFDFC;
                        color: #311E1A;
                        text-align: center;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 100%;
                        /* 12px */
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        &:last-child {
                            border: unset;
                        }
                    }

                    .dropdown-item:hover {
                        background: #F6F6F5;
                        transition: 0.3s;
                    }

                    h2 {
                        color: #311E1A;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        font-size: 12px !important;
                        font-style: normal;
                        font-weight: 300 !important;
                        line-height: 100%;
                        /* 12px */
                    }

                    .dropdown-toggle::after {
                        display: none;
                    }
                }

                h1 {
                    color: #311E1A;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 18.2px */
                    letter-spacing: 0.28px;
                    padding-bottom: 12px;
                }

                .swap_inner {
                    padding: 12px;
                    border-radius: 10px;
                    border: 1px solid #F0F2F2;
                    background: #FFF;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 8px;

                    p {
                        color: #A29998;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 120%;
                        /* 12px */
                    }

                    h2 {
                        color: #02171D;
                        font-size: 14px;
                        font-style: normal;
                        padding-top: 4px;
                        font-weight: 400;
                        line-height: 120%;
                        /* 16.8px */
                    }
                }
            }
        }
    }
}

.line__text {
    justify-content: end !important;
    align-items: end !important;
}

.right_side {
    #v-pills-home-tab.active {
        background-color: #16A853 !important;
        color: white;
    }

    /* Change background color for 'Sell' tab when it's active */
    #v-pills-profile-tab.active {
        background-color: #FF3235 !important;
        color: white;
    }

    #v-pills-home-tab {

        color: #16A853;
    }
}


/* Change background color for 'Sell' tab when it's active */
#v-pills-profile-tab {
    color: #FF3235;
}

.offcanvassnav2 {
    height: 100vh;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    width: 100%;
    background: #EEEAE3;
    border: unset;
    height: 275px !important;
    border: unset;

    .offcanvas-body {
        padding: 0px;

        .drop_dowwn {
            h1 {
                color: #311E1A;
                padding: 12px;
                border-bottom: 1px solid #E0D7D5;
                background: #F9F9F9;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-style: normal;
                font-weight: 300;
                line-height: 100%;
                /* 14px */
            }

            h1:hover {

                background: #F6F6F5;
            }

            h2 {
                color: #311E1A;
                padding: 12px;
                border-bottom: 1px solid #E0D7D5;
                background: #F9F9F9;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 8px;
                font-style: normal;
                font-weight: 300;
                line-height: 100%;
                /* 14px */
            }

            h2:hover {

                background: #F6F6F5;
            }

            h3 {
                color: #311E1A;
                background: #F9F9F9;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 8px;
                font-style: normal;
                font-weight: 300;
                line-height: 100%;
                /* 14px */
            }

            h3:hover {

                background: #F6F6F5;
            }

            .inner_gems {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 12px;
                background: #F9F9F9;
                border-bottom: 1px solid #E0D7D5;
            }
        }
    }
}



@media(max-width:991px) {
    .span_chartt1 {
        position: absolute;
        height: 33px !important;
        width: 147px !important;
        background-color: #FFF;
        right: 26px !important;
        top: 276px !important;
    }
}

@media(max-width:570px) {
    .span_chartt1 {
        position: absolute;
        height: 29px !important;
        width: 44px !important;
        background-color: #FFF;
        right: 26px !important;
        top: 271px !important;
    }
}

@media(max-width:991px) {
    .dessktop_view {
        display: none !important;
    }

    .phone_view {
        display: block !important;
    }

    .Main_chart .top_chart .left_side .bottom_left .bottom_area p {
        color: #A29998;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        white-space: nowrap;
    }

    .kevaiii {
        padding-top: 5px !important;
        text-transform: uppercase;
    }

    .charrrtimg {
        display: none !important;
    }

    .chartphone {
        display: block !important;
    }

    .marketcap {
        display: none !important;
    }

    .mcap {
        display: block !important;
    }

    .swap_outer {
        display: block !important;
    }

    .Main_chart .top_chart .right_side .tabs_div {
        padding: 15px;

        #v-pills-home-tab.active {
            background-color: #16A853 !important;
            color: white;
        }

        /* Change background color for 'Sell' tab when it's active */
        #v-pills-profile-tab.active {
            background-color: #FF3235 !important;
            color: white;
        }

        #v-pills-home-tab {

            color: #16A853;
        }

        .tabs__lower {
            .right_side {
                #v-pills-home-tab.active {
                    background-color: #16A853 !important;
                    color: white;
                }

                /* Change background color for 'Sell' tab when it's active */
                #v-pills-profile-tab.active {
                    background-color: #FF3235 !important;
                    color: white;
                }

                #v-pills-home-tab {

                    color: #16A853;
                }
            }
        }



    }

    .swap_side2 {
        display: none;
    }

    .desktop {
        display: none;
    }

    .Main_chart .top_chart .right_side .tabs__lower .tab_buy .gems_inner h5 {
        padding: 8px 10px;
        color: #311E1A;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        border-radius: 7px;
        background: #F5F3EF;
        display: flex;
        align-items: center;
        grid-gap: 4px;
        gap: 4px;
    }

    .Main_chart .top_chart .right_side .swap_side {
        padding: 15px;
        display: none;
    }

    .tabs__lower {
        width: 100%;
    }

    .phoneresponsive {
        display: block !important;
        padding: 20px;
        padding-top: 100px;

        .tabone_Data {
            padding: 0px 0px 0px 0px;
            position: relative;

            h5 {
                color: #16A853;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 110%;
                /* 13.2px */
                letter-spacing: 0.24px;
            }

            .table-responsive {
                border-radius: 20px 20px 0px 0px;

            }

            .table {
                margin-bottom: 0px;
                background: #FDFDFC;
            }

            th {
                padding: 14px 20px;
                border: unset;
                border-bottom: unset;

                background: #FDFDFC;

            }

            td {
                padding: 10px 20px;
                border: unset;
                text-align: center;
                vertical-align: middle;

                background: #FDFDFC;
            }

            tr {
                border: unset;
                border-bottom: 1px solid #E4E4E4;

                // &:last-child {
                //     border-bottom: unset;
                // }
            }

            .thdata {
                display: flex;
                align-items: center;
                gap: 8px;
                justify-content: center;

                p {
                    color: #A29998;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    /* 14.4px */
                    white-space: nowrap;
                    letter-spacing: 0.24px;
                }
            }

            .inner_td {
                display: flex;
                align-items: center;
                gap: 10px;

                h1 {
                    color: #311E1A;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 110%;
                    /* 13.2px */
                    letter-spacing: 0.24px;
                }

                h2 {
                    color: var(--Secondary-Text-Color, #939FA3);
                    text-align: start;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    /* 10px */
                    letter-spacing: 0.2px;
                    text-transform: uppercase;
                    padding-top: 5px;
                }
            }

            h3 {
                color: var(--Primary-Text-Color, #02171D);
                white-space: nowrap;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 110%;
                /* 13.2px */

            }

            .innner_data_tablee {
                display: inline-flex;
                align-items: center;
                gap: 8px;
            }

            h4 {
                color: #16A853;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 110%;
                /* 13.2px */
                letter-spacing: 0.24px;
            }

            h5 {
                color: #16A853;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 110%;
                /* 13.2px */
                letter-spacing: 0.24px;
            }

            h6 {
                color: #FF3235;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 110%;
                /* 13.2px */
                letter-spacing: 0.24px;
            }

            .sendd {
                cursor: pointer;
            }

            .pagination_mains {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 17px 22px;
                border-radius: 0px 0px 20px 20px;

                background: #FDFDFC;

                h6 {
                    color: #A29998;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 110%;
                    /* 13.2px */
                    letter-spacing: 0.1px;
                }

                .innner_pagi {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }

                .page-link {
                    color: #A29998;
                    font-size: 15px;
                    padding: 0px;
                    font-style: normal;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    line-height: 100%;
                    /* 15px */
                    border-radius: 5px;
                    background-color: unset;
                    border: unset;
                    box-shadow: unset;
                    width: 30px;
                    height: 27px;
                    text-align: center;

                }

                .page-link:hover {
                    color: #FDFDFC;
                    background: #311E1A;
                    box-shadow: unset;
                    // border: unset;
                }

                .page-item.active .page-link {
                    color: #FDFDFC;
                    background: #311E1A;
                }
            }
        }

    }

    .Main_chart .top_chart .right_side .inner_right {
        padding: 15px;

    }

    .Main_chart .top_chart .right_side .holders_div {
        padding: 15px;
    }

    .Main_chart .top_chart .left_side .outer_side {
        padding: 15px;
    }

    .Main_chart .top_chart .left_side .chart_topside {
        text-align: start;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;


    }

    .Main_chart .top_chart .left_side .midddle_left {
        padding: 15px;

    }

    .Main_chart .top_chart {
        display: block;

    }

    .Main_chart .top_chart .left_side .bottom_left {
        padding: 15px;
        margin-top: 0px;

    }

    .top___side {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .end_side {
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: end;
        align-items: end;
    }

    .Main_chart .top_chart .left_side .chart_topside .outer_text {
        margin-top: 15px;
    }
}

@media(max-width:600px) {
    .Main_chart .top_chart .left_side .bottom_left .bottom_area {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .Main_chart .top_chart .left_side .bottom_left .bottom_area h4 {
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 6px;
        padding: 6px;
        border-radius: 4px;
        border: 1px solid #F4F3F2;
        background: #FDFDFC;
        color: #E59572;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
    }

    .Main_chart .replyy_div h4 {
        color: #E59572;
        display: flex;
        padding: 6px;
        align-items: center;
        gap: 6px;
        border-radius: 4px;
        border: 1px solid #F4F3F2;
        background: #FDFDFC;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
    }

    .Main_chart .top_chart .left_side .chart_topside {
        text-align: start;
        flex-direction: column;
        align-items: flex-start;

        p {
            font-size: 10px;
        }
    }

    .Main_chart .top_chart .left_side .chart_topside h1 {
        font-size: 10px;
    }
}

.dashesnew {
    color: #311E1A !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tabbbs_data {
    #v-pills-homesmall-tab.active {
        background-color: #16A853 !important;
        color: white;
    }

    /* Change background color for 'Sell' tab when it's active */
    #v-pills-profilesmall-tab.active {
        background-color: #FF3235 !important;
        color: white;
    }

    #v-pills-homesmall-tab {

        color: #16A853;
    }
}

.tabs_form {
    .tabone_Data {
        padding: 15px 0px 0px 0px;
        position: relative;

        h5 {
            color: #16A853;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%;
            /* 13.2px */
            letter-spacing: 0.24px;
        }

        .table-responsive {
            border-radius: 20px 20px 0px 0px;

        }

        .table {
            margin-bottom: 0px;
            background: #FDFDFC;
        }

        th {
            padding: 14px 20px;
            border: unset;
            border-bottom: unset;

            background: #FDFDFC;

        }

        td {
            padding: 10px 20px;
            border: unset;
            text-align: center;
            vertical-align: middle;

            background: #FDFDFC;
        }

        tr {
            border: unset;
            border-bottom: 1px solid #E4E4E4;

            // &:last-child {
            //     border-bottom: unset;
            // }
        }

        .thdata {
            display: flex;
            align-items: center;
            gap: 8px;
            justify-content: center;

            p {
                color: #A29998;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                /* 14.4px */
                white-space: nowrap;
                letter-spacing: 0.24px;
            }
        }

        .inner_td {
            display: flex;
            align-items: center;
            gap: 10px;

            h1 {
                color: #311E1A;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 110%;
                /* 13.2px */
                letter-spacing: 0.24px;
            }

            h2 {
                color: var(--Secondary-Text-Color, #939FA3);
                text-align: start;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                /* 10px */
                letter-spacing: 0.2px;
                text-transform: uppercase;
                padding-top: 5px;
            }
        }

        h3 {
            color: var(--Primary-Text-Color, #02171D);
            white-space: nowrap;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%;
            /* 13.2px */

        }

        .innner_data_tablee {
            display: inline-flex;
            align-items: center;
            gap: 8px;
        }

        h4 {
            color: #16A853;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%;
            /* 13.2px */
            letter-spacing: 0.24px;
        }

        h5 {
            color: #16A853;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%;
            /* 13.2px */
            letter-spacing: 0.24px;
        }

        h6 {
            color: #FF3235;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%;
            /* 13.2px */
            letter-spacing: 0.24px;
        }

        .sendd {
            cursor: pointer;
        }

        .pagination_mains {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 17px 22px;
            border-radius: 0px 0px 20px 20px;

            background: #FDFDFC;

            h6 {
                color: #A29998;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 110%;
                /* 13.2px */
                letter-spacing: 0.1px;
            }

            .innner_pagi {
                display: flex;
                align-items: center;
                gap: 20px;
            }

            .page-link {
                color: #A29998;
                font-size: 15px;
                padding: 0px;
                font-style: normal;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 400;
                line-height: 100%;
                /* 15px */
                border-radius: 5px;
                background-color: unset;
                border: unset;
                box-shadow: unset;
                width: 30px;
                height: 27px;
                text-align: center;

            }

            .page-link:hover {
                color: #FDFDFC;
                background: #311E1A;
                box-shadow: unset;
                // border: unset;
            }

            .page-item.active .page-link {
                color: #FDFDFC;
                background: #311E1A;
            }
        }
    }

    .tabs__lower {
        width: 100%;
    }

    .forrm_tabb {
        flex-direction: column;
    }

    .tabbbs_data {
        width: 318px;
        padding: 4px;
        border-radius: 10px;
        background: #F5F3EF;
        margin-top: 15px;
    }

    .nav-pills .nav-link {
        padding: 12px 20px;
        border-radius: 10px;
        width: 50%;
        color: #311E1A;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 12px */
    }

    .nav-pills .nav-link.active {
        background: #F4D6AE;
    }
}

.widget_content {
    position: relative;
    overflow: hidden;
    height: 609px;
    border-radius: 25px;

    .span_data {
        position: absolute;
        width: 100%;
        height: 40px;
        background: #ffff;
        bottom: 12px;
        z-index: 99;
        border-radius: 30px;
    }
}

.span_chartt {
    position: absolute;
    height: 30px;
    width: 163px;
    background-color: #FFF;
    right: 38px;
    top: 184px;

}