.createnewtoken {
    background: #EEEAE3;
    padding: 40px 0px;
    min-height: 100vh;
    padding-top: 100px;

    .newton_div {
        position: relative;

        p {
            color: #A29998 !important;
            font-size: 12px !important;
            font-style: normal;
            position: absolute;
            left: 10px;
            top: 18px;
            font-weight: 300 !important;
            line-height: 120%;
            /* 14.4px */
        }

        .input_newton {
            padding-left: 22px !important;
            text-transform: uppercase;
        }
    }

    .parentbox {
        border-radius: 15px;
        background: #FDFDFC;
        padding: 25px;
        max-width: 554px;
        width: 100%;
        margin: 0 auto;

        h2 {
            color: #02171D;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            margin-bottom: 20px;
        }

        .parenttextmain {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 25px;
            margin-bottom: 20px;

            .left {
                .mainbox {
                    border-radius: 80px;
                    border: 1.5px solid #E0D7D5;

                    background: #FDFDFC;
                    // padding: 33px;
                    width: 104px;
                    height: 104px;
                    object-fit: cover;
                    object-position: center;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .innerimg {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }

            .right {
                h6 {
                    color: #311E1A;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    margin-bottom: 6px;
                }

                p {
                    color: #A29998;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 120%;
                    max-width: 244px;
                    width: 100%;
                }

                .parentbuttons {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 8px;
                    margin-top: 10px;

                    .wrapper {

                        .upload {
                            border-radius: 8px;
                            background: #F5F3EF;
                            padding: 10px 20px;
                            max-width: 87px;
                            width: 100%;
                            border: none;
                            color: #311E1A;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            cursor: pointer;
                            line-height: 120%;
                            margin-bottom: 0px;
                        }
                    }


                    .remove {
                        border-radius: 8px;
                        background: rgba(255, 50, 53, 0.20);
                        padding: 10px 20px;
                        max-width: 87px;
                        width: 100%;
                        color: #FF3235;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        border: none;
                    }
                }
            }
        }

        .maininputs {
            .innerinputs {
                margin-bottom: 18px;

                &:last-child {
                    margin-bottom: 0px;
                }

                .parenttext {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 8px;

                    p {
                        color: #7A6966;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin-bottom: 0px;
                    }

                    h6 {
                        color: #A29998;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }
                }

                p {
                    color: #7A6966;
                    margin-bottom: 8px;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                input {
                    border-radius: 10px;
                    border: 1px solid #F0F2F2;

                    background: #FFF;
                    padding: 18px 15px;
                    width: 100%;
                    color: #311E1A;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 120%;

                    &::placeholder {
                        color: #A29998;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 120%
                    }
                }

                textarea {
                    border-radius: 10px;
                    border: 1px solid #F0F2F2;
                    padding: 18px 15px;
                    width: 100%;
                    height: 100px;
                    background: #FFF;
                    color: #311E1A;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 120%;

                    &::placeholder {
                        color: #A29998;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 120%
                    }
                }
            }
        }

        .lastbuttons {
            margin-top: 20px;

            .dull {
                border-radius: 10px;
                background: #FBF4EB;
                height: 42px;
                color: #D3C9C1;
                margin-top: 20px;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                width: 100%;
                border: none;
            }

            .active {
                border-radius: 10px;
                background: #F4D6AE;
                height: 42px;
                border: none;
                width: 100%;
                color: #311E1A;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
            }
        }
    }
}

.token.fade.show {
    opacity: 1;
    background: rgba(238, 234, 227, 0.80) !important;
    backdrop-filter: blur(5px);
}

.connect_modal {
    padding: 20px;
   
    .modaaal_new {
        padding: 10px;
        border-radius: 15px;
        background: #FFF;
        color: #A29998;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        /* 14.4px */
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        margin-bottom: 10px;
    }

    .fade.show {
        opacity: 1;
        background: rgba(238, 234, 227, 0.80);
        backdrop-filter: blur(5px);
    }

    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;

    .imgmetamask {
        width: 45px;
        height: 45px;


        border-radius: 100px;
        background: #F5F3EF;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .metamask_div {
        width: 100%;
        padding: 15px;
        border-radius: 15px;
        background: #FFF;
        cursor: pointer;

        h1 {
            padding-top: 71px;
            color: #7A6966;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 120%;
            /* 14.4px */
        }
    }

    .metamask_div:hover {
        background: #F5F3EF;
    }

    .metamask_div:hover .imgmetamask {
        background: #FFF;
    }

    .metamask_div:hover h1 {
        color: #311E1A;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        /* 14.4px */
    }
}

.modaaal_new {
    padding: 10px;
    border-radius: 15px;
    background: #FFF;
    color: #A29998;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    /* 14.4px */
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.connect_modal_main {
    width: 100%;

}

.token {

    .modal.show .modal-dialog {
        transform: none;
        /* background: rgba(238, 234, 227, 0.80); */
        backdrop-filter: blur(5px);
    }

    .modal-dialog {
        max-width: 422px;

        .modal-content {
            border-radius: 15px;
            background: #F9F9F9;
            padding: 25px;
            width: 100%;

            .modal-header {
                border-bottom: none;
                padding: 0px;
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .modal-title {
                    color: #311E1A;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }

                .btn-close {
                    // background: url(../../close-circle.svg);
                    background: url("../../public/bgimgs/crossmain.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: contain;
                    width: 24px;
                    height: 24px;
                    box-shadow: none !important;
                    opacity: unset;
                    position: absolute;
                    padding: 0px;
                    margin: 0px;
                    top: 21px;
                    right: 31px;
                }
            }

            .modal-body {
                padding: 0px;

                .continuebuttton {
                    width: 100%;
                    margin-top: 25px;

                    button {
                        color: #311E1A;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%;
                        /* 10px */
                        display: flex;
                        width: 100%;
                        height: 42px;
                        justify-content: center;
                        align-items: center;
                        gap: 6.851px;
                        border-radius: 10px;
                        background: #F4D6AE;
                        border: unset;
                    }
                }

                .success_modal {
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    textarea {
                        height: 151px;
                        padding: 18px;
                        border-radius: 13px;
                        color: #7A6966;
                        font-feature-settings: 'dlig' on, 'salt' on;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 15.6px */
                        background: #F5F3EF;
                        border: unset;
                    }

                    ::placeholder {
                        color: #7A6966;
                        font-feature-settings: 'dlig' on, 'salt' on;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 15.6px */
                    }

                    h5 {
                        color: #311E1A;
                        font-feature-settings: 'liga' off, 'clig' off;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        /* 19.2px */
                        padding-top: 20px;
                        padding-bottom: 12px;
                    }

                    h6 {
                        color: #311E1A;
                        text-align: center;
                        font-feature-settings: 'liga' off, 'clig' off;
                        width: 372px;
                        font-size: 18px;
                        font-style: normal;
                        margin-top: 18px;
                        font-weight: 400;
                        line-height: 120%;
                        /* 21.6px */
                    }

                    .delllete {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        margin-top: 32px;

                        gap: 5px;

                        button {
                            margin: 0px;
                        }

                        .cannncel {
                            color: #311E1A;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 100%;
                            /* 10px */
                            display: flex;
                            height: 42px;
                            justify-content: center;
                            align-items: center;
                            gap: 6.851px;
                            border-radius: 10px;
                            width: 100%;
                            margin: 0px;
                            background: #EFEFEF;
                            border: unset;
                        }

                        .delete {
                            color: #FF3235;
                            font-size: 10px;
                            margin: 0px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 100%;
                            /* 10px */
                            display: flex;
                            height: 42px;
                            justify-content: center;
                            align-items: center;
                            gap: 6.851px;
                            width: 100%;
                            border-radius: 10px;
                            background: #FAD1D2;
                            border: unset;
                        }
                    }

                    p {
                        color: #A29998;
                        text-align: center;
                        font-feature-settings: 'liga' off, 'clig' off;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        /* 14.4px */
                    }

                    button {
                        color: #311E1A;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%;
                        /* 10px */
                        display: flex;
                        height: 42px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 10px;
                        margin-top: 25px;
                        background: #F4D6AE;
                        border: unset;
                        width: 100%;
                    }
                }

                .parent {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .mainimage {
                        width: 130px;
                        height: 129px;
                        object-fit: cover;
                        object-position: center;
                        overflow: hidden;

                        .innerimage {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    p {
                        color: #311E1A;

                        text-align: center;
                        margin-top: 12px;
                        margin-bottom: 8px;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }

                    h6 {
                        color: #A29998;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        margin-bottom: 32px;
                    }

                    .mainheading {
                        color: #311E1A;

                        text-align: center;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        margin-bottom: 6px;
                    }

                    .mainpara {
                        color: #7A6966;

                        text-align: center;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 120%;
                    }

                    .bottombox {
                        border-radius: 10px;
                        background: #F5F3EF;
                        padding: 18px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .svgggg {
                            display: flex;
                            flex-direction: column;
                        }

                        p {
                            color: #A29998;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            line-height: 120%;
                        }
                    }
                }
            }
        }
    }
}

.showmore_div {
    color: #311E1A;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
}

.hide_texttt {
    margin-bottom: 18px;
}

.datafound {
    padding: 20px;
    font-size: 14px;
    white-space: nowrap;
}

@media(max-width:600px) {
    .svgedditprofile{
        width: 15px;
        height:15px;
    }
    
    .token .modal-dialog .modal-content .modal-body .parent h4 {
        padding: 18px;
        border-radius: 10px;
        border: 1px solid #F0F2F2;
        background: #F2F2F2;
        color: #311E1A;
        word-break: break-all;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        display: flex
    ;
        align-items: center;
        justify-content: space-between;
        gap: 24px !important;
    }
    .token .modal-dialog .modal-content .modal-body .parent .bottombox p {
        color: #A29998;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        display: flex
    ;
        word-break: break-all;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        line-height: 120%;
        gap: 42px;
    }
    svg.svgggg {
        width: 20px;
        height: 20px;
    }
    .createnewtoken .parentbox .parenttextmain .left .mainbox {
        border-radius: 80px;
        border: 1.5px solid #E0D7D5;
        background: #FDFDFC;
        width: 84px;
        height: 84px;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .createnewtoken .parentbox h2 {
        font-size: 14px !important;
    }

    .createnewtoken .parentbox .parenttextmain .right p {
        font-size: 8px;
        max-width: 196px;
    }

    .createnewtoken .parentbox .maininputs .innerinputs p {
        font-size: 10px !important;
    }

    .createnewtoken .parentbox .maininputs .innerinputs input {
        font-size: 10px !important;
    }

    .createnewtoken .parentbox .maininputs .innerinputs .parenttext h6 {
        font-size: 8px;
    }

    .createnewtoken .parentbox .maininputs .innerinputs textarea {
        height: 120px;
    }
}