.Footer_part {
    padding: 0px 70px 40px 70px;
  
    .websiteslogo {
        transition: filter 0.3s ease; /* Smooth transition effect */
        cursor: pointer;
        width: 14px;
    height: 14px;
    }
    
    .websiteslogo:hover {
        filter: brightness(0) saturate(100%) invert(59%) sepia(43%) saturate(500%) hue-rotate(-15deg) brightness(90%) contrast(85%);
    }
   

    .inner_footer {
        // background-image: url(../../../Assests/footerbg.png);
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: center;
        // width: 100%;
        display: flex;
        border-radius: 20px;
        align-items: center;
        justify-content: space-between;
        padding: 38px 60px;
        overflow: hidden;
        position: relative;
        height: 196px;

        .bg-shadow{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            background: linear-gradient(180deg, #4E3E34 0%, #392723 100%);
            z-index: -1;
            mix-blend-mode: multiply;


        }

        .main-banner-video {
            position: absolute;
            height: 100%;
            object-fit: cover;
            object-position: center;
            top: 0px;
            left: 0;
            width: 100%;
            z-index: -2;
            mix-blend-mode: multiply;
    
        }

        .left_footer {
            h1 {
                color: #FFF3E2;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                cursor: pointer;
                /* 16.8px */
            }

            .gems_top {
                display: flex;
                align-items: center;
                gap: 30px;
            }

            p {
                color: #A29998;
                font-size: 12px;
                font-style: normal;
                font-weight: 300;
                line-height: 110%;
                /* 13.2px */
                letter-spacing: 0.1px;
                padding-top: 54px;
            }
        }

        .middle_footer {
            display: flex;
            align-items: center;
            flex-direction: column ;
            h2 {
                color: #FFF3E2;
                font-size: 10px;
                font-style: normal;

                line-height: 100%;
                font-family: hmedium;

                /* 10px */
            }

            .middle_text {
                display: flex;
                align-items: center;
                gap: 4px;
                margin-top: 8px;
            }

            h3 {
                color: #FFF3E2;
                font-family: hmedium;
                font-size: 12px;
                font-style: normal;
                line-height: 100%;
                /* 12px */
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }
        .middle_footer2 {
            h2 {
                color: #FFF3E2;
                font-size: 10px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                /* 10px */
            }

            .middle_text {
                display: flex;
                align-items: center;
                gap: 4px;
                margin-top: 8px;
            }

            h3 {
                color: #FFF3E2;
                font-family: "Helvetica Now Display";
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                /* 12px */
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }

        .right_footer {
            .websites {
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: end;
            }

            h5 {
                color: #A29998;
                font-size: 12px;
                font-style: normal;
                font-weight: 300;
                cursor: pointer;

                line-height: 110%;
                /* 13.2px */
                letter-spacing: 0.1px;
            }
            h5:hover{
                color: #E59572;
            }
            h6:hover{
                color: #E59572;
            }

            .policy_div {
                display: flex;
                align-items: center;
                gap: 17px;
                margin-top: 55px;
            }

            h6 {
                color: #A29998;
                font-size: 12px;
                cursor: pointer;
                font-style: normal;
                font-weight: 300;
                line-height: 110%;
                /* 13.2px */
                letter-spacing: 0.1px;
            }
        }
    }
}
.logo_bottom{
    width: 109.702px;
height: 30px;
}
.rockssfooter{
    width: 81.892px;
height: 20.187px;
}
.phone_footer{
    display: none;
}
@media(max-width:991px) {
    .desktop{
        display: none;
    }
    .Footer_part {
        padding: 0px 20px 20px 20px;
        p{
            color: #A29998;
font-size: 10px;
font-style: normal;
font-weight: 300;
line-height: 110%; /* 11px */
letter-spacing: 0.1px;
margin-top: 22px;
        }
    }
    .Footer_part .inner_footer {
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 17px;
    align-items: flex-start;
    }
    .Footer_part .inner_footer .right_footer .policy_div {
        margin-top: 22px;
    }
    .Footer_part .inner_footer .right_footer .websites {
        margin-top: 22px;
        justify-content: flex-start !important;
    }
    .phone_footer{
        display: block;
    }
}

.rocksss_build{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    text-align: center;
    margin-top: 22px;
    h5{
        color: #A29998;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: 110%; /* 13.2px */
letter-spacing: 0.1px;
    }
}