.Main_Gems {
    background-image: url("../../public/bgimgs/gemsbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 132px 0px 40px 0px;

    .Top_rocks {
        .Sort {
            padding: 12px;
            border-radius: 12px;
            background: #F5F2EE;
            border: unset;
            color: #311E1A;
            text-align: center;
            white-space: nowrap;
            font-size: 10px;
            font-style: normal;
            font-weight: 300;
            line-height: 100%;
            /* 10px */
            display: flex;
            gap: 10px;
        }

        .rocks_bgdiv {


            h1 {
                color: #311E1A;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                /* 48px */
            }

            .rockshtag {}
        }




    }
}

.another_rocks {
    .bottom_rocks {
        padding: 40px 5px;
        background: #EEEAE3;
        min-height: 90vh;


        .input_main {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .input_div {
                position: relative;

                .searchsvg {
                    position: absolute;
                    left: 12px;
                    top: 8px;
                }

                input {
                    width: 317px;
                    padding: 12px;
                    border-radius: 12px;
                    background: #F5F2EE;
                    border: unset;
                    color: #000;
                    padding-left: 40px;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    outline: 1px solid #E59572;
                    line-height: 100%;
                    /* 12px */
                }

                ::placeholder {
                    color: #A29998;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 100%;
                    /* 12px */
                }

                input:focus {
                    outline: 1px solid #E59572 !important;



                }
            }

            .dropdown_div {
                .dropdown-toggle::after {
                    display: none;
                }

                button#dropdown-basic {
                    border-radius: 12px;
                    background: #F5F2EE;
                    color: #311E1A;
                    text-align: center;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 100%;
                    /* 12px */
                    display: flex;
                    padding: 12px;
                    align-items: center;
                    border: unset;
                    gap: 30px;
                    box-shadow: unset;
                }

                button#dropdown-basic:active {
                    background: #FDFDFC;
                }

                .dropdown-menu.show {
                    padding: 0px;
                    border-radius: 12px;
                    border: 1px solid #E0D7D5;
                    background: #FDFDFC;
                    width: 198px;
                    overflow: hidden;
                }

                .dropdown-item {
                    border-bottom: 1px solid #E0D7D5;
                    background: #FDFDFC;
                    padding: 12px;
                    color: #311E1A;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 100%;

                    /* 12px */
                    &:last-child {
                        border: unset;
                    }
                }

                .dropdown-item:hover {
                    background: #F6F6F5;
                    transition: none;
                    transform: none;

                }
            }
        }

        .cards_section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 15px;
            margin-top: 15px;

            .card_one {
                padding: 18px;
                border-radius: 20px;
                background: #FDFDFC;
                box-shadow: 0px 0px 20px 0px rgba(49, 30, 26, 0.08);
                // height: 271px;

                .img_text {
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    h1 {
                        color: #311E1A;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        /* 16.8px */
                    }

                    h2 {
                        color: #A29998;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        text-transform: uppercase;
                        /* 14.4px */
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }

                    .angryimg {
                        border-radius: 10px;
                        width: 60px;
                        height: 60px;
                        object-fit: cover;
                    }

                    h3 {
                        color: #311E1A;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 120%;
                        /* 12px */
                    }
                }

                p {
                    color: #A29998;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 120%;
                    /* 14.4px */
                    padding-top: 15px;
                    padding-bottom: 20px;
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    /* Limits to 5 lines */
                    -webkit-box-orient: vertical;
                    overflow: hidden !important;
                    text-overflow: ellipsis;
                }

                .bottom_cards {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 12px;
                    border-radius: 12px;
                    background: #F5F3EF;
                    margin-top: 15px;

                    h4 {
                        color: #77868B;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 120%;
                        /* 12px */
                    }

                    h5 {
                        color: #311E1A;
                        padding-top: 10px;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        /* 14.4px */
                    }
                }
            }
        }

        .pagination_mains {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 17px 22px;
            border-radius: 12px;
            padding: 12px;
            background: #F5F2EE;
            margin-top: 18px;

            h6 {
                color: #A29998;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 110%;
                /* 13.2px */
                letter-spacing: 0.1px;
            }

            .innner_pagi {
                display: flex;
                align-items: center;
                gap: 20px;
            }

            .page-link {
                color: #A29998;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                /* 15px */
                width: 30px;
                height: 27px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0px;
                border-radius: 5px;
                background-color: unset;
                border: unset;
                box-shadow: unset;


            }

            .page-link:hover {
                color: #FDFDFC;
                background: #311E1A;

                box-shadow: unset;
                border: unset;
            }

            .page-item.active .page-link {
                color: #FDFDFC;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                /* 15px */
                border-radius: 5px;
                background: #311E1A;
                box-shadow: unset;
                border: unset;
            }
        }
    }
}

.offcanvassnav1 {
    height: 100vh;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    width: 100%;
    background: #EEEAE3;
    border: unset;
    height: 195px !important;

    .offcanvas-body {
        padding: 0px;

        .drop_dowwn {
            h1 {
                color: #311E1A;
                padding: 12px;
                border-bottom: 1px solid #E0D7D5;
                background: #F9F9F9;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-style: normal;
                font-weight: 300;
                line-height: 100%;
                /* 14px */
            }

            h1:hover {

                background: #F6F6F5;
            }

            h2 {
                color: #311E1A;
                padding: 12px;
                border-bottom: 1px solid #E0D7D5;
                background: #F9F9F9;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 8px;
                font-style: normal;
                font-weight: 300;
                line-height: 100%;
                /* 14px */
            }

            h2:hover {

                background: #F6F6F5;
            }

            h3 {
                color: #311E1A;
                background: #F9F9F9;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 8px;
                font-style: normal;
                font-weight: 300;
                line-height: 100%;
                /* 14px */
            }

            h3:hover {

                background: #F6F6F5;
            }

            .inner_gems {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 12px;
                background: #F9F9F9;
                border-bottom: 1px solid #E0D7D5;
            }
        }
    }
}

.offcanvas-backdrop.show {
    opacity: .5;
    background: rgba(238, 234, 227, 0.80);
    backdrop-filter: blur(5px);
}

@media(max-width:991px) {
    .another_rocks .bottom_rocks .cards_section .card_one .img_text h1 {
        color: #311E1A;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }
    .another_rocks .bottom_rocks .pagination_mains h6 {
        color: #A29998;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 0.1px;
        display: none;
    }

    .another_rocks .bottom_rocks .pagination_mains .page-link {
        padding: 6px 9px;
        font-size: 12px;
    }

    .dropdown_div {
        display: none;
    }

    .Sort {
        display: block !important;
        white-space: nowrap;
        color: #311E1A;
        text-align: center;
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: 100%;
        /* 10px */
        padding: 12px;
        border-radius: 12px;
        background: #F5F2EE;
    }


    .another_rocks .Top_rocks .bottom_rocks .cards_section {
        flex-direction: column;
    }

    .Main_Gems {
        background-image: url("../../public/bgimgs/phonebggems.png") !important;
        padding: 122px 20px 236px 20px;
    }

    .another_rocks .bottom_rocks .input_main {
        gap: 20px;
    }

    .another_rocks .bottom_rocks .input_main .input_div input {
        width: 100%;
    }

    .another_rocks .bottom_rocks .input_main .input_div {
        width: 100%;
    }

    .another_rocks .bottom_rocks .pagination_mains {
        flex-direction: column;
        gap: 0px;
    }

    .Main_Gems .Top_rocks .rocks_bgdiv h1 {
        font-size: 30px;
    }

    .another_rocks .Top_rocks .bottom_rocks {
        padding: 20px 0px 40px 0px;

    }

    .another_rocks .Top_rocks .bottom_rocks .input_main .input_div input {
        width: 100%;
    }

    .another_rocks .Top_rocks .bottom_rocks .input_main {
        gap: 10px;
    }

    .another_rocks .Top_rocks .bottom_rocks .pagination_mains h6 {
        display: none;
    }

    .main_banner .tabone_Data .pagination_mains h6 {
        font-size: 12px;
    }

    .another_rocks .Top_rocks .bottom_rocks .pagination_mains .page-item.active .page-link {
        padding: 6px 9px;
        font-size: 12px;
    }

    .another_rocks .Top_rocks .bottom_rocks .pagination_mains .page-link {

        padding: 6px 9px;
        font-size: 12px;
    }

    .another_rocks .Top_rocks .bottom_rocks .pagination_mains .innner_pagi {
        display: flex;
        align-items: center;
        grid-gap: 20px;
        gap: 20px;
        justify-content: center;
    }

    .another_rocks .Top_rocks .bottom_rocks .pagination_mains {
        justify-content: center;
    }

    .another_rocks .bottom_rocks .cards_section {
        grid-template-columns: 1fr;
    }
}