.navbar_top {
    padding: 25px 0px;
    position: absolute;
    top: 0px;
    z-index: 999;
    width: 100%;
  


    .h1,
    .htag a {
        text-decoration: none;
        color: inherit;
    }

    .active-link h1 {
        color: #FFF3E2;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        /* 16.8px */
    }


    .htag a h1 {
        color: #FFF3E2;

        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        /* 16.8px */
    }

    .active-link1 h1 {
        color: #311E1A;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        /* 16.8px */
    }

    .htag1 a h1 {
        color: #311E1A;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        /* 16.8px */
    }



    .rockslogo {
        cursor: pointer;
    }

    .navbar_main {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            color: #FFF3E2;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            cursor: pointer;
            line-height: 120%;
            /* 16.8px */
        }

        .htag {
            display: flex;
            align-items: center;
            gap: 30px;
            margin-left: 100px;
        }

        .buttons_div {
            display: flex;
            align-items: center;
            gap: 10px;

            .Launch {
                color: #311E1A;
                text-align: center;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                /* 12px */
                padding: 16px;
                border-radius: 10px;
                background: #E59572;
                border: unset;
            }

            .Launch:hover {
                background: #FFA37A;

            }

            .Connect {
                color: #311E1A;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                /* 12px */
                padding: 16px;
                border-radius: 10px;
                background: #F4D6AE;
                border: unset;
            }

            .Connect:hover {
                background: #F5CA91;

            }

            .dis-Connect {
                color: #FF3235;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 12px;
                /* 12px */
                padding: 16px;
                border-radius: 10px;
                border: 1px solid #FF3235;
                background: unset;
            }



        }
    }
}
.active-link h1 {
    color: #311E1A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 120%; /* 16.8px */  }

.fade.createmodal.modal.show {
    background: rgba(238, 234, 227, 0.80);
backdrop-filter: blur(5px);
padding-left: 0px !important;
}
.createmodal{
    .modal-content {
        border: unset;
    }
    .modal-header {
        padding: 25px;
        border-bottom: unset;
        .modal-title {
        color: #311E1A;
font-size: 14px;
font-style: normal;
font-weight: 400;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
line-height: 120%; /* 16.8px */
        }
        .svgcrossss{
            cursor: pointer;
        }
    }
    .signinmodal{
        padding: 15px 25px 25px 25px;
        .upperpara{
            color: #311E1A;
text-align: center;
font-feature-settings: 'liga' off, 'clig' off;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 21.6px */
        }
        .buttons_inner{
            display: flex;
justify-content: center;
align-items: center;
gap: 5px;

margin-top: 40px;
.cancel{
    color: #311E1A;

    display: flex;
    height: 42px;
    justify-content: center;
    align-items: center;
    gap: 6.851px;
       font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 10px */
border-radius: 10px;
background: #EFEFEF;
border: unset;
width: 100%;
border: unset;
}
.btn-sign-mobile{
    color: #311E1A;
    font-size: 10px;
font-style: normal;
width: 25%;
border: unset;
font-weight: 400;
line-height: 100%; /* 10px */
display: flex;
height: 42px;
justify-content: center;
align-items: center;
gap: 6.851px;
border-radius: 10px;
background: #F4D6AE;
border: unset;

}
        }
    }
    .modal-body {
        padding: 0px;
    }
    
}

.profile_connect {
      .profileImage{
        width: 22px;
        height: 22px;
        border-radius: 50px;
      }

    button#dropdown-basic {
        padding: 11px;
        border-radius: 10px;
        border: unset;
        background: #F4D6AE;
        box-shadow: unset;
        white-space: nowrap;
        display: flex;
        align-items: center;
        width: 160px;
        justify-content: space-between;

        color: #311E1A;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 12px */
    }

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-menu.show {
        padding: 0px;
        border-radius: 12px;
        border: 1px solid #E0D7D5;
        background: #FDFDFC;
        overflow: hidden;
    }

    .dropdown-item {
        color: #311E1A;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 100%;
        /* 12px */
        padding: 12px;
        border-bottom: 1px solid #E0D7D5;
        background: #FDFDFC;

        &:last-child {
            border-bottom: unset;
        }

    }

    h2 {
        color: #FF3235;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 100%;
        /* 12px */
    }

    .dropdown-item:hover {
        background: #F6F6F5;
    }

}

.phonenavbar {
    background-color: unset;
    position: absolute;
    top: 0px;
    z-index: 999;
    width: 100%;

    .top_sidee {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 20px;
        width: 100%;

        .profilebuttons {
            display: flex;
            align-items: center;
            gap: 10px;

            button {
                height: 38px;
                padding: 11px;
                border-radius: 10px;
                // border: 1px solid #E59572;
                // background: #E8E4DD;
                background: #F4D6AE;
                border: unset;
                display: flex;
                align-items: center;
                gap: 8px;
            }
            img{
                width: 22px;
                height: 22px;
                border-radius: 24px;
            }
        }
    }
}
.offcanvas.offcanvas-bottom {
    border-radius: 10px 10px 0px 0px;
}
.offcanvassnav {
    width: 100%;
    background: #EEEAE3;

    height: 100%;


  
    .offcanvas-body {
        // position: relative;
        padding: 0px;

        .myprofile {
            h3 {
                color: #311E1A;
                text-align: start;

                font-size: 12px;
                font-style: normal;
                font-weight: 300;
                line-height: 100%;
                /* 12px */
                border-bottom: 1px solid #E0D7D5;
               
                background: #FDFDFC;
                padding: 18px 20px;

            }
            h3:hover{
                background: #F6F6F5;
            }
            h4:hover{
                background: #F6F6F5;
            }
            h4{
                padding: 18px 20px;
                color: #FF3235;
                font-size: 12px;
                font-style: normal;
                font-weight: 300;
                line-height: 100%; /* 12px */
                background: #FDFDFC;
            }
            .innner_profile {
                display: flex;
                padding: 20px;
                align-items: center;
                gap: 30px;
                align-self: stretch;
                border-bottom: 1px solid #E0D7D5;
                background: #F6F6F5;
                border-radius: 12px 12px 0px 0px;

                h1 {
                    color: #311E1A;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                    /* 19.2px */
                    border: unset;
                    padding: 0px;
                }

              

                p {
                    color: #311E1A;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    /* 14.4px */
                    padding-top: 10px;

                }
            }

            .imgprofillr {
                width: 43px;
                height: 43px;
                border-radius: 24px;
            }
        }

        h1 {
            color: #311E1A;
            padding: 19px 20px;
            border-bottom: 1px solid #E0D7D5;
            font-feature-settings: 'dlig' on, 'salt' on;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 100%;
            /* 14px */
        }

        h2 {
            color: #311E1A;
            padding: 19px 20px;
            font-feature-settings: 'dlig' on, 'salt' on;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 100%;
            /* 14px */
        }
    }

    .offcanvas-header .btn-close {
        display: none;

    }

    .croosss {
        position: absolute;
        right: 20px;
        top: 25px;
    }

    .offcanvas-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .buttons_div {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        position: absolute;
        bottom: 20px;
        padding: 0px 20px;

        .Launch {
            color: #311E1A;
            text-align: center;
            width: 100%;
            padding: 16px;
            border-radius: 10px;
            background: #E59572;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            /* 12px */
            border: unset;
        }

        .Launch:hover {
            background: #FFA37A;

        }

        a {
            width: 100%;
        }

        .Connect {
            color: #311E1A;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            /* 12px */
            padding: 16px;
            border-radius: 10px;
            background: #F4D6AE;
            width: 100%;
            border: unset;
        }

        .Connect:hover {
            background: #F5CA91;

        }
    }
}
.offcanvassnav2 {
    width: 100%;
    background: #EEEAE3;

    height: 100%;


  
    .offcanvas-body {
        // position: relative;
        padding: 0px;
        .connect_modal{
       
            .fade.show {
                opacity: 1;
                background: rgba(238, 234, 227, 0.80);
                backdrop-filter: blur(5px);
            }
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
            .imgmetamask{
                width: 59px;
                height: 43px;
            
        
        
        border-radius: 100px;
        background:#F5F3EF;
        display: flex;
        align-items: center;   
        justify-content: center;
        }
        
            .metamask_div{
                width: 100%;
                padding: 15px;
                border-radius: 15px;
                background: #FFF;
                display: flex;
                align-items: center;
                gap: 20px;
                cursor: pointer;
                h1{
                    color: #7A6966;
                    border: unset;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 120%; /* 14.4px */
                    display: flex
                    ;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                }
            }
            .metamask_div:hover {
                background: #F5F3EF; 
            }
            
            .metamask_div:hover .imgmetamask {
                background: #FFF; 
            }
            .metamask_div:hover h1 {
                color: #311E1A;
            font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 14.4px */
            }
        }
        .myprofile {
            h3 {
                color: #311E1A;
                text-align: start;

                font-size: 12px;
                font-style: normal;
                font-weight: 300;
                line-height: 100%;
                /* 12px */
                border-bottom: 1px solid #E0D7D5;
               
                background: #FDFDFC;
                padding: 18px 20px;

            }
            h3:hover{
                background: #F6F6F5;
            }
            h4:hover{
                background: #F6F6F5;
            }
            h4{
                padding: 18px 20px;
                color: #FF3235;
                font-size: 12px;
                font-style: normal;
                font-weight: 300;
                line-height: 100%; /* 12px */
                background: #FDFDFC;
            }
            .innner_profile {
                display: flex;
                padding: 20px;
                align-items: center;
                gap: 30px;
                align-self: stretch;
                border-bottom: 1px solid #E0D7D5;
                background: #F6F6F5;
                border-radius: 12px 12px 0px 0px;

                h1 {
                    color: #311E1A;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                    /* 19.2px */
                    border: unset;
                    padding: 0px;
                }

              

                p {
                    color: #311E1A;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    /* 14.4px */
                    padding-top: 10px;

                }
            }

            .imgprofillr {
                width: 43px;
                height: 43px;
                border-radius: 24px;
            }
        }

        h1 {
            color: #311E1A;
            padding: 19px 20px;
            border-bottom: 1px solid #E0D7D5;
            font-feature-settings: 'dlig' on, 'salt' on;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 100%;
            /* 14px */
        }

        h2 {
            color: #311E1A;
            padding: 19px 20px;
            font-feature-settings: 'dlig' on, 'salt' on;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 100%;
            /* 14px */
        }
    }

    .offcanvas-header .btn-close {
        display: none;

    }

    .croosss {
        position: absolute;
        right: 20px;
        top: 25px;
    }

    .offcanvas-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .buttons_div {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        position: absolute;
        bottom: 20px;
        padding: 0px 20px;

        .Launch {
            color: #311E1A;
            text-align: center;
            width: 100%;
            padding: 16px;
            border-radius: 10px;
            background: #E59572;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            /* 12px */
            border: unset;
        }

        .Launch:hover {
            background: #FFA37A;

        }

        a {
            width: 100%;
        }

        .Connect {
            color: #311E1A;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            /* 12px */
            padding: 16px;
            border-radius: 10px;
            background: #F4D6AE;
            width: 100%;
            border: unset;
        }

        .Connect:hover {
            background: #F5CA91;

        }
    }
}
.offcanvassnav22 {
    width: 100%;
    background: #EEEAE3;

    height: 100%;


  
    .offcanvas-body {
        // position: relative;
        padding: 0px;
        .connect_modal{
            .fade.show {
                opacity: 1;
                background: rgba(238, 234, 227, 0.80);
                backdrop-filter: blur(5px);
            }
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
            .imgmetamask{
                width: 59px;

        height: 45px;
        
        
        border-radius: 100px;
        background:#F5F3EF;
        display: flex;
        align-items: center;   
        justify-content: center;
        }
        
            .metamask_div{
                width: 100%;
                padding: 15px;
                border-radius: 15px;
                background: #FFF;
                display: flex;
                align-items: center;
                gap: 20px;
                cursor: pointer;
                h1{
                    color: #7A6966;
                    border: unset;
                    padding: 0px;

                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 120%; /* 14.4px */
                    display: flex
                    ;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                }
            }
            .metamask_div:hover {
                background: #F5F3EF; 
            }
            
            .metamask_div:hover .imgmetamask {
                background: #FFF; 
            }
            .metamask_div:hover h1 {
                color: #311E1A;
            font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 14.4px */
            }
        }
        .myprofile {
            h3 {
                color: #311E1A;
                text-align: start;

                font-size: 12px;
                font-style: normal;
                font-weight: 300;
                line-height: 100%;
                /* 12px */
                border-bottom: 1px solid #E0D7D5;
               
                background: #FDFDFC;
                padding: 18px 20px;

            }
            h3:hover{
                background: #F6F6F5;
            }
            h4:hover{
                background: #F6F6F5;
            }
            h4{
                padding: 18px 20px;
                color: #FF3235;
                font-size: 12px;
                font-style: normal;
                font-weight: 300;
                line-height: 100%; /* 12px */
                background: #FDFDFC;
            }
            .innner_profile {
                display: flex;
                padding: 20px;
                align-items: center;
                gap: 30px;
                align-self: stretch;
                border-bottom: 1px solid #E0D7D5;
                background: #F6F6F5;
                border-radius: 12px 12px 0px 0px;

                h1 {
                    color: #311E1A;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                    /* 19.2px */
                    border: unset;
                    padding: 0px;
                }

              

                p {
                    color: #311E1A;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    /* 14.4px */
                    padding-top: 10px;

                }
            }

            .imgprofillr {
                width: 43px;
                height: 43px;
                border-radius: 24px;
            }
        }

        h1 {
            color: #311E1A;
            padding: 19px 20px;
            border-bottom: 1px solid #E0D7D5;
            font-feature-settings: 'dlig' on, 'salt' on;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 100%;
            /* 14px */
        }

        h2 {
            color: #311E1A;
            padding: 19px 20px;
            font-feature-settings: 'dlig' on, 'salt' on;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 100%;
            /* 14px */
        }
    }

    .offcanvas-header .btn-close {
        display: none;

    }

    .croosss {
        position: absolute;
        right: 20px;
        top: 25px;
    }

    .offcanvas-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .buttons_div {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        position: absolute;
        bottom: 20px;
        padding: 0px 20px;

        .Launch {
            color: #311E1A;
            text-align: center;
            width: 100%;
            padding: 16px;
            border-radius: 10px;
            background: #E59572;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            /* 12px */
            border: unset;
        }

        .Launch:hover {
            background: #FFA37A;

        }

        a {
            width: 100%;
        }

        .Connect {
            color: #311E1A;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            /* 12px */
            padding: 16px;
            border-radius: 10px;
            background: #F4D6AE;
            width: 100%;
            border: unset;
        }

        .Connect:hover {
            background: #F5CA91;

        }
    }
}
.offcanvassnav2.offcanvas.offcanvas-bottom.show {
    height: 184px !important;
}
.offcanvassnav22.offcanvas.offcanvas-bottom.show {
    height: 220px !important;
}
@media(max-width:600px) {
    .navbar_top {
        display: none;
    }
    .createmodal .signinmodal .upperpara {
        color: #311E1A;
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }
}

@media(max-width:991px) {
    .offcanvas-title {
        color: #311E1A;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 16.8px */
    }
    .offcanvassnav22 .croosss {
        width: 24px;
        height: 24px;
        right: 20px;
        top: 13px;
    }
    .phonenavbar {
        display: block !important;
    }

    .navbar_top {
        display: none;
    }

    .connect_modal {
        flex-direction: column;
    }
}